# app
sqlalchemy
flask
psycopg2-binary
redis

# dev/tests
pytest
pytest-icdiff
mypy
pylint
requests
tenacity
flask-sqlalchemy
sqla-paranoid==0.1.1
SQLAlchemy==1.3.3
pyramid==1.10.4
pyramid_localize==0.1.0
pyramid-basemodel==0.3.6
zope.sqlalchemy==1.1.0
transaction==2.4.0